<div class=" modal fade custom-modal" id="add_Contacts">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="chat-header modal-header">
				<span>Contacts</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="chat-users-list modal-body">
				<div class="chat-scroll ContactsGroups">
					@*<a href="javascript:void(0);" class="media">
					<div class="media-img-wrap">
					<div class="avatar avatar-away">
					<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image" class="avatar-img rounded-circle">
					</div>
					</div>
					<div class="media-body">
					<div>
					<div class="user-name">Dr. Ruby Perrin</div>
					<div class="user-last-chat">Hey, How are you?</div>
					</div>
					<div>
					<div class="last-chat-time block">2 min</div>
					<div class="badge badge-success badge-pill">15</div>
					</div>
					</div>
					</a>*@

				</div>
			</div>
		</div>



	</div>

</div>
