		<!-- Voice Call Modal -->
<div class="modal fade call-modal" id="voice_call">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<!-- Outgoing Call -->
				<div class="call-box incoming-box">
					<div class="call-wrapper">
						<div class="call-inner">
							<div class="call-user">
								<img alt="User Image" src="assets/img/doctors/doctor-thumb-02.jpg" class="call-avatar reciver-img">
								<h4 class="reciver-name">Darren Elder</h4>
								<span>Connecting...</span>
							</div>
							<div class="call-items">
								<a class="audio_call_exit btn call-item call-end audio_call_exit" data-dismiss="modal" aria-label="Close" id="audio_call_exit"><i class="audio_call_exit material-icons">call_end</i></a>
								<a href="" class="audioLink btn call-item call-start"><i class="audioLink material-icons">call</i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- Outgoing Call -->

			</div>
		</div>
	</div>
</div>