@using doccure.Data.Models;

@{

	var user = (Applicationuser)ViewData["User"];
	

}
<!-- Breadcrumb -->

			<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

				<!-- Profile Sidebar -->
				<div class="profile-sidebar">
					<div class="widget-profile pro-widget-content">
						<div class="profile-info-widget">
							<a href="#" class="booking-doc-img">
					<img src="~/img/uploads/@user.Image" alt="User Image">
							</a>
							<div class="profile-det-info">
								<h3>@user.UserName</h3>

								<div class="patient-details">
									<h5 class="mb-0">@user.doctor?.Speciality?.Name</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="dashboard-widget">
						<nav class="dashboard-menu">
							<ul>
								<li>
						<a asp-controller="DoctorDashboard" asp-action="Index">
							<i class="fas fa-columns"></i>
										<span>Dashboard</span>
									</a>
								</li>
								<li>
						<a asp-controller="DoctorAppointments" asp-action="Index">
										<i class="fas fa-calendar-check"></i>
										<span>Appointments</span>
									</a>
								</li>
								<li>
						<a asp-controller="Patients" asp-action="MyPatients">
										<i class="fas fa-user-injured"></i>
										<span>My Patients</span>
									</a>
								</li>
								<li>
									<a href="schedule-timings.html">
										<i class="fas fa-hourglass-start"></i>
										<span>Schedule Timings</span>
									</a>
								</li>
								<li>
									<a href="invoices.html">
										<i class="fas fa-file-invoice"></i>
										<span>Invoices</span>
									</a>
								</li>
								<li>
									<a href="reviews.html">
										<i class="fas fa-star"></i>
										<span>Reviews</span>
									</a>
								</li>
								<li>
									<a href="chat-doctor.html">
										<i class="fas fa-comments"></i>
										<span>Message</span>
										<small class="unread-msg">23</small>
									</a>
								</li>
								<li>
									<a asp-controller="DoctorProfile" asp-action="DoctorProfile">
										<i class="fas fa-user-cog"></i>
										<span>Profile Settings</span>
									</a>
								</li>
								<li>
									<a href="social-media.html">
										<i class="fas fa-share-alt"></i>
										<span>Social Media</span>
									</a>
								</li>
								<li class="active">
									<a asp-controller="DoctorProfile" asp-action="DoctorPasswordUpdated">
										<i class="fas fa-lock"></i>
										<span>Change Password</span>
									</a>
								</li>
								<li>
									<a asp-controller="UserAuthuntication" asp-action="logout">
										<i class="fas fa-sign-out-alt"></i>
										<span>Logout</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				</div>
