@using Microsoft.AspNetCore.Identity
@using doccure.Data.Models;
@inject SignInManager<Applicationuser> SignInManager
@inject UserManager<Applicationuser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-controller="PatientAuthuntication" asp-action="logout">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
        <li class="nav-item">
        <a class="nav-link header-login" asp-controller="PatientAuthuntication" asp-action="login">login / Signup </a>
        </li>
}

