@using doccure.Data.Models;
@using doccure.Data.ResponseModels;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@model doccure.Data.RequestModels.ReviewCommentRequest;
@inject SignInManager<Applicationuser> SignInManager
@inject UserManager<Applicationuser> UserManager

@{
	var Doctor = (DoctorData)ViewData["Doctor"];
	//var specialities = (List<Speciality>)ViewData["Specialities"];
	var week = new List<string>() { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
	//var useraddress = user.address;

}
<!-- /Write Review -->
<div class="write-review write-review-comment" style="display: none;">
	<h4>Write a Comment </h4>

	<!-- Write Review Form -->
	<form asp-action="AddComment2Review" asp-controller="ReviewComment">
		<input asp-for="DoctorID" value="@Doctor.applicationuser.doctor.Id" readonly="readonly" hidden="hidden">
		<input asp-for="ParentCommentId" readonly="readonly">
		<input asp-for="ReviewId" readonly="readonly">

		<div class="form-group">
			<label>Your review</label>
			<textarea asp-for="Description" id="review_desc" maxlength="100" class="form-control"></textarea>

			<div class="d-flex justify-content-between mt-3"><small class="text-muted"><span id="chars">100</span> characters remaining</small></div>
		</div>
		<hr>
		<div class="form-group">
			<div class="terms-accept">
				<div class="custom-checkbox">
					<input type="checkbox" id="terms_accept">
					<label for="terms_accept">I have read and accept <a href="#">Terms &amp; Conditions</a></label>
				</div>
			</div>
		</div>
		<div class="submit-section">
			<button type="submit" class="btn btn-primary submit-btn">Add Comment</button>
		</div>
	</form>
	<!-- /Write Review Form -->

</div>