<!-- /Voice Call Modal -->
<!-- Video Call Modal -->
<div class="modal fade call-modal" id="video_call">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<!-- Incoming Call -->
				<div class="call-box incoming-box">
					<div class="call-wrapper">
						<div class="call-inner">
							<div class="call-user">
								<img class="call-avatar reciver-img" src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
								<h4 class="reciver-name"> Darren Elder</h4>
								<span>Calling ...</span>
							</div>
							<div class="call-items">
								<a  class="btn call-item call-end video_call_exit" data-dismiss="modal" aria-label="Close" id="video_call_exit"><i class="material-icons">call_end</i></a>
								<a href="video-call.html" class="btn call-item call-start"><i class="material-icons">videocam</i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- /Incoming Call -->

			</div>
		</div>
	</div>
</div>