@using doccure.Repositories.Implementaion;
@{
	var Transactions = (List<TransactionDTO>)ViewBag.Transactions;
}
<div class="main-wrapper">

	<partial name="_Header" />
	<partial name="_AdminSidebar" /><!-- /Sidebar -->
	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Transactions</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
							<li class="breadcrumb-item active">Transactions</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										
										<tr>
											<th>Invoice Number</th>
											<th>Patient ID</th>
											<th>Patient Name</th>
											<th>Total Amount</th>
											<th class="text-center">Status</th>
											<!--<th class="text-right">Actions</th>-->
										</tr>
										</
									</thead>
									<tbody>
										@{
											foreach (var patient in Transactions)
											{
												<tr>
													<td><a href="invoice.html">#IN000 @patient.TransactionId </td>
													<td>@patient.PatientId.Substring(0,5)</td>
													<td>
														<h2 class="table-avatar">
															<a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/img/uploads/@patient.Image" alt="User Image"></a>
															<a >@patient.PatientName </a>
														</h2>
													</td>
													<td>$@patient.ToTal</td>
													<td class="text-center">
														<span class="badge badge-pill bg-success inv-badge">@patient.Status</span>
													</td>
													<!--<td class="text-right">
														<div class="actions">
															<a class="btn btn-sm bg-danger-light" data-toggle="modal" href="#delete_modal">
																<i class="fe fe-trash"></i> Delete
															</a>
														</div>
													</td>-->
												</tr>
											}
										}

										@*										<tr>
										<td>
										<h2 class="table-avatar">
										<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image"></a>
										<a href="profile.html">Dr. Darren Elder</a>
										</h2>
										</td>
										<td>Dental</td>

										<td>11 Jun 2019 <br><small>4.50 AM</small></td>

										<td>$5000.00</td>

										<td>
										<div class="status-toggle">
										<input type="checkbox" id="status_1" class="check" checked>
										<label for="status_1" class="checktoggle">checkbox</label>
										</div>
										</td>
										</tr>
										<tr>
										<td>
										<h2 class="table-avatar">
										<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-03.jpg" alt="User Image"></a>
										<a href="profile.html">Dr. Deborah Angel</a>
										</h2>
										</td>
										<td>Cardiology</td>

										<td>4 Jan 2018 <br><small>9.40 AM</small></td>

										<td>$3300.00</td>

										<td>
										<div class="status-toggle">
										<input type="checkbox" id="status_1" class="check" checked>
										<label for="status_1" class="checktoggle">checkbox</label>
										</div>
										</td>
										</tr>
										<tr>
										<td>
										<h2 class="table-avatar">
										<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-04.jpg" alt="User Image"></a>
										<a href="profile.html">Dr. Sofia Brient</a>
										</h2>
										</td>
										<td>Urology</td>

										<td>5 Jul 2019 <br><small>12.59 AM</small></td>

										<td>$3500.00</td>

										<td>
										<div class="status-toggle">
										<input type="checkbox" id="status_1" class="check" checked>
										<label for="status_1" class="checktoggle">checkbox</label>
										</div>
										</td>
										</tr>
										<tr>
										<td>
										<h2 class="table-avatar">
										<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-05.jpg" alt="User Image"></a>
										<a href="profile.html">Dr. Marvin Campbell</a>
										</h2>
										</td>
										<td>Orthopaedics</td>

										<td>24 Jan 2019 <br><small>02.59 AM</small></td>

										<td>$3700.00</td>

										<td>
										<div class="status-toggle">
										<input type="checkbox" id="status_1" class="check" checked>
										<label for="status_1" class="checktoggle">checkbox</label>
										</div>
										</td>
										</tr>
										<tr>
										<td>
										<h2 class="table-avatar">
										<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-06.jpg" alt="User Image"></a>
										<a href="profile.html">Dr. Katharine Berthold</a>
										</h2>
										</td>
										<td>Orthopaedics</td>

										<td>23 Mar 2019 <br><small>02.50 PM</small></td>

										<td>$4000.00</td>

										<td>
										<div class="status-toggle">
										<input type="checkbox" id="status_1" class="check" checked>
										<label for="status_1" class="checktoggle">checkbox</label>
										</div>
										</td>
										</tr>
										<tr>
										<td>
										<h2 class="table-avatar">
										<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-07.jpg" alt="User Image"></a>
										<a href="profile.html">Dr. Linda Tobin</a>
										</h2>
										</td>
										<td>Neurology</td>

										<td>14 Dec 2018 <br><small>01.59 AM</small></td>

										<td>$2000.00</td>

										<td>
										<div class="status-toggle">
										<input type="checkbox" id="status_1" class="check" checked>
										<label for="status_1" class="checktoggle">checkbox</label>
										</div>
										</td>
										</tr>
										<tr>
										<td>
										<h2 class="table-avatar">
										<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-08.jpg" alt="User Image"></a>
										<a href="profile.html">Dr. Paul Richard</a>
										</h2>
										</td>
										<td>Dermatology</td>

										<td>11 Jan 2019 <br><small>02.59 AM</small></td>

										<td>$3000.00</td>

										<td>
										<div class="status-toggle">
										<input type="checkbox" id="status_1" class="check" checked>
										<label for="status_1" class="checktoggle">checkbox</label>
										</div>
										</td>
										</tr>
										<tr>
										<td>
										<h2 class="table-avatar">
										<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-09.jpg" alt="User Image"></a>
										<a href="profile.html">Dr. John Gibbs</a>
										</h2>
										</td>
										<td>Dental</td>

										<td>21 Apr 2018 <br><small>02.59 PM</small></td>

										<td>$4100.00</td>

										<td>
										<div class="status-toggle">
										<input type="checkbox" id="status_1" class="check" checked>
										<label for="status_1" class="checktoggle">checkbox</label>
										</div>
										</td>
										</tr>
										<tr>
										<td>
										<h2 class="table-avatar">
										<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-10.jpg" alt="User Image"></a>
										<a href="profile.html">Dr. Olga Barlow</a>
										</h2>
										</td>
										<td>Dental</td>

										<td>15 Feb 2018 <br><small>03.59 AM</small></td>

										<td>$3500.00</td>

										<td>
										<div class="status-toggle">
										<input type="checkbox" id="status_1" class="check" checked>
										<label for="status_1" class="checktoggle">checkbox</label>
										</div>
										</td>
										</tr>*@
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /Page Wrapper -->

</div>
<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<!--	<div class="modal-header">
					<h5 class="modal-title">Delete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>-->
			<div class="modal-body">
				<div class="form-content p-2">
					<h4 class="modal-title">Delete</h4>
					<p class="mb-4">Are you sure want to delete?</p>
					<button type="button" class="btn btn-primary">Save </button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
