@model doccure.Data.RequestModels.UpdatePasswordRequset
@using doccure.Data.Models;
@{
    ViewData["Title"] = "DoctorPasswordUpdated";
    var user = (Applicationuser)ViewData["User"];
    var Message = (string)TempData["message"];

}
<partial name="_Breadcrumb" />
<div class="content">
	<div class="container-fluid">
		<div class="row">

			<partial name="_DoctorSidebar" />
<div class="col-md-7 col-lg-8 col-xl-9">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12 col-lg-6">
					@{
						if (!string.IsNullOrEmpty(Message))
						{
							<label class="control-label">@(Message)</label>

						}
					}
					<!-- Change Password Form -->
					<form asp-action="DoctorPasswordUpdated">
						<div class="form-group">
                            <label asp-for="OldPassword">Old Password</label>
							<input asp-for="OldPassword" type="password" class="form-control">
						</div>
						<div class="form-group">
                            <label asp-for="NewPassword">New Password</label>
                            <input asp-for="NewPassword" type="password" class="form-control">
						</div>
						<div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control">
						</div>
						<div class="submit-section">
							<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
						</div>
					</form>
					<!-- /Change Password Form -->

				</div>
			</div>
		</div>
	</div>
</div>
		</div>

	</div>
</div>