@using doccure.Data.Models;
@model doccure.Data.RequestModels.UserProfileRequest;

@{
	var user =(Applicationuser)ViewData["User"];
	var useraddress = user.address;

}
<partial name="_Breadcrumb" />
<!-- Page Content -->
<div class="content">
	<div class="container-fluid">
		<div class="row">

<partial name="_PatientSidebar" />

			<!-- /Profile Sidebar -->

			<div class="col-md-7 col-lg-8 col-xl-9">
				<div class="card">
					<div class="card-body">

						<!-- Profile Settings Form -->
			<form asp-action="UserProfile" asp-controller="UserProfile" enctype="multipart/form-data">
							<div class="row form-row">
								<div class="col-12 col-md-12">
									<div class="form-group">
										<div class="change-avatar">
											<div class="profile-img">
												<img src="~/img/uploads/@user.Image" alt="User Image">
											</div>
											<div class="upload-img">
												<div class="change-photo-btn">
													<span><i class="fa fa-upload"></i> Upload Photo</span>
										<input asp-for="ImageFile" type="file" class="upload">
												</div>
												<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>First Name</label>
										<input asp-for="FirstName" type="text" class="form-control" value=@user.FirstName>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>Last Name</label>
										<input asp-for="LastName" type="text" class="form-control" value=@user.LastName>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>Date of Birth</label>
										<div class="cal-icon">
											<input asp-for="DateofBirth" type="date" class="form-control" value=@user.DateofBirth?.ToString("yyyy-MM-dd")>

										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>Blood Group</label>
										<select class="form-control select" asp-for="BloodGroup">
											@{
												if (user.BloodGroup == "A-")
												{
													<option selected>A-</option>
												}
												else
												{
													<option>A-</option>
												}
												if (user.BloodGroup == "A+")
												{
													<option selected>A+</option>
												}
												else
												{
													<option>A+</option>
												}
												if (user.BloodGroup == "B-")
												{
													<option selected>B-</option>
												}
												else
												{
													<option>B-</option>
												}
												if (user.BloodGroup == "B+")
												{
													<option selected>B+</option>
												}
												else
												{
													<option>B+</option>
												}
												if (user.BloodGroup == "AB-")
												{
													<option selected>AB-</option>
												}
												else
												{
													<option>AB-</option>
												}
												if (user.BloodGroup == "AB+")
												{
													<option selected>AB+</option>
												}
												else
												{
													<option>AB+</option>
												}
												if (user.BloodGroup == "O-")
												{
													<option selected>O-</option>
												}
												else
												{
													<option>O-</option>
												}
												if (user.BloodGroup == "O+")
												{
													<option selected>O+</option>
												}
												else
												{
													<option>O+</option>
												}
											}
											
										</select>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>Email ID</label>
										<input asp-for="Email" type="email" class="form-control" value=@user.Email>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>Mobile</label>
										<input asp-for="PhoneNmber" type="text" value=@user.PhoneNumber class="form-control">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label>Address</label>
										<input asp-for="Address1.Address1" type="text" class="form-control" value=@user?.address?.Address1>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>City</label>
										<input asp-for="Address1.City" type="text" class="form-control" value=@user?.address?.City>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>State</label>
										<input asp-for="Address1.State" type="text" class="form-control" value=@user?.address?.State>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>PostalCode</label>
										<input asp-for="Address1.PostalCode" type="text" class="form-control" value=@user?.address?.PostalCode>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>Country</label>
										<input asp-for="Address1.Country" type="text" class="form-control" value=@user?.address?.Country>
									</div>
								</div>
							</div>
							<div class="submit-section">
								<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
							</div>
						</form>
						<!-- /Profile Settings Form -->

					</div>
				</div>
			</div>
		</div>
	</div>

</div>
